@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

bg-greenp {
  background-color: #37624E;
}
@font-face {
  font-family: 'font-plc';
  src: url('/Users/giovannibattistapernazza/Documents/Giovanni/PLC/react/parco-la-cascina/public/fonts/font-plc.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'font-plc', sans-serif;
}
